<h1>Mapas</h1><br />
<div id ="map">  
  <br /><h3>Chihuahua</h3><br />
  <iframe width="865" height="754" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.mx/maps?hl=es-419&amp;safe=off&amp;q=google+maps+chihuahua+mexico&amp;ie=UTF8&amp;hq=&amp;hnear=Chihuahua&amp;gl=mx&amp;t=m&amp;z=12&amp;ll=28.635278,-106.088889&amp;output=embed"></iframe><br />
  <small><a href="http://maps.google.com.mx/maps?hl=es-419&amp;safe=off&amp;q=google+maps+chihuahua+mexico&amp;ie=UTF8&amp;hq=&amp;hnear=Chihuahua&amp;gl=mx&amp;t=m&amp;z=12&amp;ll=28.635278,-106.088889&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
  <br /><br /><h3>Centro de Convenciones</h3><br />
  <iframe width="865" height="754" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=centro+de+conferencias+y+exposiciones+chihuahua&amp;fb=1&amp;hq=centro+de+conferencias+y+exposiciones&amp;hnear=0x86ea449d5d484033:0xb7f1a7a706dd1d7b,Chihuahua,+Mexico&amp;cid=0,0,7977009855949666972&amp;ll=28.653504,-106.0742&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe><br />
  <small><a href="http://maps.google.com/maps?hl=en&amp;safe=off&amp;ie=UTF8&amp;q=centro+de+conferencias+y+exposiciones+chihuahua&amp;fb=1&amp;hq=centro+de+conferencias+y+exposiciones&amp;hnear=0x86ea449d5d484033:0xb7f1a7a706dd1d7b,Chihuahua,+Mexico&amp;cid=0,0,7977009855949666972&amp;ll=28.653504,-106.0742&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small</a></small>
</div>
<div id="alllinks">
  <%= link_to 'Inicio', oc_members_path, :title => "Inicio"%>
</div>