<div id="co_index">
  <h2 style="margin-bottom: 30px; text-align: center;">Exposición de Carteles</h2>
  <div class="group" rel="group">
    <%= image_tag("/assets/cartel.jpg", :size => "840x1275")%><br /><br />
</div>
</div>
<br />

<div id="alllinks">
  <%= link_to 'Inicio', root_path, :title => 'Inicio' %>
</div>