<div id ="comment">  
<h2 style="margin-bottom: 10px; text-align: center;">Costos</h2>
<ul style="margin-left:40px">
<li>Socios ADM $2,800 Pesos</li>
<li>NO Socios ADM $3,500 Pesos</li>
<li>Estudiantes Socios ADM $1,500 Pesos</li>
<li>Estudiantes No Socios ADM $2,000 Pesos</li>
</ul>
<br />
<h2 style="margin-bottom: 10px; text-align: center;">No. de Cuenta</h2>
<ul style="margin-left:40px">
<li>Numero de cuenta 9178583 y el numero de cuenta CLABE: 030150900000429630. <b>Banco del Bajio.</b></li>
</ul>
<br />
<br />
<p style="text-decoration:blink; color: green; text-align:center">Anímate, si pagas antes del 30 de Octubre el costo de inscripción es de $2000 para socios ADM y $3000 para No socios.</p>
<br />
<p style="margin-left:40px">NOTA: LAS CONSTANCIAS DE ASISTENCIA SI PAGAS COMO ESTUDIANTE EL NOMBRE DIRA ESTUDIANTE.</p> 

</div><br />
<div id="alllinks">
    <%= link_to 'Inicio', root_path, :title => "Inicio"%>
</div>