<div id ="comment">  
<h2 style="margin-bottom: 10px; text-align: center;">Costos de Inscripción</h2>
<table border="0" style="padding: 5px; color:black;">
<tr>
<th></th>
<th><b>Agosto</th>
<th><b>Octubre</th>
<th><b>Enero</th>
<th><b>Mayo</th>
</tr>
<tr>
<td><b>Socios ADM</b></td>
<td>$1500</td>
<td>$1500</td>
<td>$2500</td>
<td>$2800</td>
</tr>
<tr>
<td><b>No Socios</b></td>
<td>$2000</td>
<td>$2500</td>
<td>$3000</td>
<td>$3500</td>
</tr>
<tr>
<td><b>Estudiantes ADM</b></td>
<td>$500</td>
<td>$750</td>
<td>$1000</td>
<td>$1250</td>
</tr>
<tr>
<td><b>Est. No Socios</b></td>
<td>$750</td>
<td>$1000</td>
<td>$1250</td>
<td>$1500</td>
</tr>
<tr>
<td><b>Acompanantes</b></td>
<td>$1000</td>
<td>$1000</td>
<td>$1000</td>
<td>$1250</td>
</tr>
</table>
<br />
<h2 style="margin-bottom: 10px; text-align: center;">No. de Cuenta</h2>
<ul style="margin-left:40px; color:black;">
<li>Numero de cuenta 9178583 y el numero de cuenta CLABE: 030150900000429630. <b>Banco del Bajio.</b></li>
<li>A nombre de: Asociación y Colegio de Cirujanos Dentistas de la Cd. de Chihuahua.</li>
<li>Numero de Referencia: Nombre de la persona a inscribir.</li>
<li>El depósito se puede hacer en cualquier banco poniendo la Clabe interbancaria.</li>
</ul>
<br />
<br />
<p style="margin-left:40px">NOTA: LAS CONSTANCIAS DE ASISTENCIA SI PAGAS COMO ESTUDIANTE EL NOMBRE DIRA ESTUDIANTE.</p> 

</div><br />
<div id="alllinks">
    <%= link_to 'Inicio', root_path, :title => "Inicio"%>
</div>

