<h2 style='text-align: center; font-size: 40px;'><%=link_to "GRUPO EMTUR", "http://www.emtur.com.mx"%></h2><br><br>
<div style='text-align: center;'><%=link_to image_tag("/assets/emtur_design.jpg", :width => "750px"), "http://www.emtur.com.mx"%></div><br><br>
<h2 style='float:left; margin-left: 100px;'><%=link_to "Descargar Información", "/assets/emtur_design.pdf"%></h2>
<h2 style='float:right; margin-right: 100px;'><%=link_to "www.emtur.com.mx", "http://www.emtur.com.mx"%></h2><br><br><br><br>