<div id ="map" style="margin-left: auto; margin-right: auto; padding: 10px;"> 
    <h2 style="margin-bottom: 30px; text-align: center;">Hoteles Sede</h2>
  <% @hotels.each do |hotel| %>
    <h2 style="text-align: center"><%= link_to hotel.name, hotel, :title => "Dar click para Mas información."%></h2>
    <%= link_to image_tag(hotel.avatar.url, :size => "845x800"), hotel, :title => "Dar click para Mas información." %>
    <br /><br />
  <% end %>
</div>
<br />
<% if logged_in? %>
  <div id="alllinks">
    <%= link_to 'Agregar Hotel', new_hotel_path %>
  </div>
<% end %>